<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
            <link rel="stylesheet" href="css/style.css" type="text/css" />
    </head>
    <body>
        <div class = "header">
         <h1> Pixabay Search (Express Version) </h1>
        </div>
        <form action="/results" method="GET">
            
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        <img src='<%=image%>' width = '430'>
        

    </body>
</html>